extends layout

block content
  img#mainImage(src=(Math.random() > 0.5 ? 'http://25.media.tumblr.com/3537f9bf4587285ae2ca6e9f75b15ed8/tumblr_ml60iaNSoW1qccejao1_400.gif' : 'http://31.media.tumblr.com/588be5a0892599ae0e17eafdaaa53e04/tumblr_mxvdiolIjf1soljxao1_500.gif' ))
