html { 
  background-image: url('https://unsplash.it/1400/1000/?random');
  background-size: 'cover';
  background-attachment: fixed;
  padding: 0px;
  margin: 0px;
}
body {
  padding: 0px; 
  margin: 0px;
  position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px;
  background-color: rgba(0,0,0,0.6);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
}

a {
  color: #00B7FF;
}

#mainImage {
	position: absolute;
	top: 0px; bottom: 0px; left: 0px; right: 0px;
	margin: auto;
	box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.5);
}
